.guestbook-form {
    margin-top: 20px;
}

.guestbook-form label {
    display: block;
    color: #464646;
}

.guestbook-form label:not(:first-of-type) {
    margin-top: 20px;
}

.guestbook-form label:first-of-type {
    margin: 20px 0;
}

#guestbook_submit {
    margin-top: 20px;
}

.guestbook-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.guestbook-table,
.guestbook-table tr,
.guestbook-table th,
.guestbook-table td {
    border: 1px solid #ddd;
}

.guestbook-table th,
.guestbook-table td {
    padding: 10px;
    text-align: center;
}

.guestbook-comment {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.guestbook-comment:not(:last-of-type) {
    margin-bottom: 20px;
}

.guestbook-comment > div {
    padding: 10px;
}

.guestbook-message {
    quotes: "«\00A0" "\00A0»";
}

.guestbook-message:before {
    content: open-quote;
    font-size: 2rem;
}

.guestbook-message:after {
    content: close-quote;
    font-size: 1.8rem;
}

.guestbook-infos-sup {
    margin-top: 15px;
}